.wrapper {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: rgb(13 110 253 / 80%);
    color: #fff;
    z-index: 1;
}

.active {
    transition: .2s;
    left: 0vw;
}

.inactive {
    transition: .2s;
    left: 100vw;
}

.row {
    display: flex;
    align-items: center;
    height: 48px;
    border-bottom: 1px solid;
    padding-left: 1rem;
    background-color: #0d6efd;
}

.error {
    display: flex;
    align-items: start;
    height: 100%;
    border-bottom: 1px solid;
    padding-top: 1rem;
    padding-left: 1rem;
    background-color: #fd0d0d;
    white-space: pre;
}